.title {
  color: rgb(97, 0, 0);
  font-size: 40px;
  font-weight: bold;
}

input[type="text"] {
  width: 210px;
  padding: 5px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 4px;
}

.container {
  align-items: center;
  text-align: center; 
  flex-direction: column;
  display: flex;
  margin: 16px auto;
}

.header{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.searchTitle {
  font-size: 36px;
  color: black;
  font-weight: 400;
}

.listOf-track {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

.searchBar {
  flex-direction: row;
  display: flex;
}

.emptyResult {
  font-size: 36px;
  color: black;
  font-weight: 400;
}

.spotify-track {
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 23;
  color: black;
}

.button:hover {
  background-color: #fa813193;
}

.formAndView {
  width: 300px;
  height: 300px;
  background-color: Orange;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.twoSided {
  flex-direction: row;
  display: flex;
}

.playlistTrack {
  margin-left: 50px;
}

.playlistTrack p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.playlistTrack img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.searchTitle {
  font-size: 48px;
  color: black;
  font-weight: 600;
}

.listOf-track {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.searchBar {
  flex-direction: row;
  display: flex;
}

.emptyResult {
  font-size: 36px;
  color: black;
  text-align: center;
  font-weight: 500;
}

.createTitle {
  font-size: 28px;
  color: black;
  font-weight: 500;
}

.searchResult {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 25px;
}

.MuiPagination-text {
  color: white;
  font-size: 24px;
  background-color: rgba(113, 113, 113, 0.2);
  border-radius: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
}

.songInformation {
  display: flex;
  flex-direction: row;
}

.newRelease {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 409px;
}
