.title {
    color: rgb(97, 0, 0);
    font-size: 40px;
    font-weight: bold;
  }
  
  .spotify-track {
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
  }
  
  input[type="text"] {
    width: 100px;
    padding: 10px 30px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 4px;
  }

  button {
    border-radius: 12px;
    padding: 12px 12px;
    background-color: #f05050;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16;
    color: black;
  }
  