.Song {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    width: 350px;
    height: 460px;
    background-color: rgba(248, 186, 104, 0.897);
    border-radius: 11px;
}

.Song img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-top: 30px;
}

.text p{
    color: black;
}

.btn {
    text-align: center;
    font-size: 14px;
    background-color: #fa8131;
    border-radius: 6px;
    padding: 6px 15px;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 10px 15px 0  rgba(252, 83, 5, 0.342);
}